body {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.app-container {
}

.graph-container {
  position: absolute;
  z-index: 1;
}

.grid-container {
  z-index: 2;
  position: absolute;
  display: grid;
  grid-template-columns: 0.4fr 1.9fr 0.4fr;
  grid-template-rows: 0.1fr 2.4fr 0.5fr;
  gap: 1px 1px;
  grid-template-areas: "TopLeft HeaderBar TopRight" "LeftSidebar Center RightSidebar" "Bottom Bottom Bottom";
  width: 100%;
  height: 100%;
}

.Bottom {
  grid-area: Bottom;
  justify-self: center;
  align-self: center;
}

.TopLeft {
  grid-area: TopLeft;
}

.TopRight {
  grid-area: TopRight;
}

.LeftSidebar {
  grid-area: LeftSidebar;
}

.RightSidebar {
  grid-area: RightSidebar;
}

.HeaderBar {
  grid-area: HeaderBar;
  justify-self: center;
  align-self: center;
}

.Center {
  grid-area: Center;
  justify-self: center;
  align-self: center;
}
